* {
    box-sizing: border-box;
}


body {
   margin: 0;
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
   background: url(bg.jpg);
   background-size: cover;
}


.winner {
    color: green;
}

.loser {
    color: red;
}

.btn1 {
    background-color: rgb(51, 255, 51);
    color: #fff;
    font-weight: bold;
}

.btn2 {
    background-color: rgb(51, 255, 187);
    color: #fff;
    font-weight: bold;
}

.myCard {
    border-radius: 15px;
}

.mySelect {
    width: 5rem;
    margin: auto;
}

#reset {
    display: block;
    margin: 1rem auto;
    width: 42%;
}

a {
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    color: red;
}

img {
    display: block;
    width: 100%;
}
